@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set Quicksand as the default font */
body {
  font-family: "Quicksand", serif;
}

.quicksand-light {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.quicksand-regular {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.quicksand-medium {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.quicksand-bold {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
@media print {
  body * {
    visibility: hidden;
  }
  .bingo-cell,
  .bingo-cell * {
    visibility: visible;
  }
  .grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    page-break-inside: avoid;
  }
  button,
  nav,
  h1 {
    display: none;
  }
}
